{% extends 'base.html' %}
{%block title %} Đăng nhập {%endblock%}
{% block content %}
{% load static %}
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Đăng nhập</h2>
                    <form action="{% url 'core:login' %}" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Tài khoản" name="taikhoan"/>
                        <input type="password" placeholder="Mật khẩu" name="matkhau"/>
                        <span>
								<input type="checkbox" class="checkbox">
								Ghi nhớ đăng nhập
							</span>
                        <button type="submit" class="btn btn-default">Đăng nhập</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hay</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Đăng ký tài khoản mới!</h2>
                    <form action="{% url 'core:register' %}">
                        <button type="submit" class="btn btn-default">Đăng ký!!</button>
                    </form>

                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

{% endblock %}