{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="text-center pt-5">
    <h1 class="display-4">Thay đổi mật khẩu</h1>
</div>
<form action="{% url 'core:password_change' %}" method="post" style="max-width: 420px; margin: auto;">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-20 mb-6">
            <label for="">Mật khẩu hiện tại</label>
            {% render_field form.old_password class="form-control" placeholder="Mật khẩu của bạn" %}
        </div>
    </div>
     <div class="form-group">
         {{ form.photo }}
     </div>
    <div class="row">
        <div class="col-md-20 mb-6">
            <label for="">Mật khẩu mới</label>
            {% render_field form.new_password1 class="form-control" placeholder="Mật khẩu mới của bạn" %}
        </div>
    </div>
     <div class="form-group">
         {{ form.photo }}
     </div>
    <div class="row">
        <div class="col-md-20 mb-6">
            <label for="">Nhập lại mật khẩu mới</label>
            {% render_field form.new_password2 class="form-control" placeholder="Nhập lại mật khẩu mới của bạn" %}
        </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Cập nhật mật khẩu</button>
</form>
{% endblock %}